.footer__links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 18px;
  flex-direction: row;
}

@media screen and (max-width: 450px) {
  .footer__links {
    flex-direction: column;
  }
}
