.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
  margin: 0 0 26px 0;
  padding: 0;
}

.place__paragraph:last-child {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraph {
    padding: 0 16px;
  }
}
