.intro {
  display: flex;
  max-width: 984px;
  justify-content: flex-start;
  flex-flow: column;
  align-items: flex-start;
  margin: 0 auto;
  padding: 92px 48px 0 48px;
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 88px 24px 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding: 64px 16px 0 16px;
  }
}
