.cover__title {
  max-width: 560px; /*ограничить ширину*/
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .cover__title {
    font-size: 54px;
    line-height: 1.08;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
  }

}
