.place__website {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

@media screen and (max-width: 530px) {
  .place__website {
    grid-row: 2;
  }
}


@media screen and (max-width: 425px) {
  .place__website {
    padding: 0 16px;
  }
}
